<div class="ranking-modal-backdrop" *ngIf="show">
  <div class="ranking-modal">
    <div class="ranking-header">
      <span>Ranking dos Técnicos</span>
      <button class="close-btn" (click)="close()">&times;</button>
    </div>
    <div class="ranking-section">
      <div class="ranking-title">Top Técnicos do Mês</div>
      <div class="ranking-list">
        <div *ngFor="let tecnico of ranking | slice:0:3; let i = index" class="ranking-item" [ngClass]="'rank-' + (i+1)" [class.selected]="selectedIndex === i" (click)="selectTecnico(i)">
          <div class="medal">
            <ng-container [ngSwitch]="i">
              <span *ngSwitchCase="0" class="medal-icon gold">&#x1F947;</span>
              <span *ngSwitchCase="1" class="medal-icon silver">&#x1F948;</span>
              <span *ngSwitchCase="2" class="medal-icon bronze">&#x1F949;</span>
            </ng-container>
            <span class="rank-pos">{{ i+1 }}º</span>
          </div>
          <div class="tecnico-info">
            <span class="tecnico-nome" [ngClass]="'rank-color-' + (i+1)">{{ tecnico.nome }}</span>
            <span class="tecnico-chamados">{{ tecnico.chamadosResolvidosMes }} Chamados Resolvidos</span>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-section">
      <div class="timeline-title">Evolução de Desempenho</div>
      <div class="timeline">
        <ng-container *ngFor="let milestone of timelineMilestones; let idx = index">
          <div class="timeline-item">
            <span class="timeline-icon"><span class="material-icons">{{ milestone.icon }}</span></span>
            <span class="timeline-label">{{ milestone.label }}</span>
            <span *ngIf="getEvolucaoChamados(idx) !== null" class="timeline-num">{{ getEvolucaoChamados(idx) }} Chamados</span>
          </div>
          <div *ngIf="idx < timelineMilestones.length - 1" class="timeline-line"></div>
        </ng-container>
      </div>
    </div>
    <div class="ranking-footer">
      <button mat-raised-button color="primary" (click)="close()">Fechar</button>
    </div>
  </div>
</div>
